@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	background-color: rgba(238, 249, 191, 1);
}

h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 56px;
	font-weight: 700;
	margin: 40px auto;
	color: rgba(117, 183, 158, 1);
}

ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	height: 146px;
	width: 117px;
	position: relative;
	margin: auto 20px 40px 20px;
}

.card img{
	height: 100px;
	width: 100px;
	margin: auto;
}

.face {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(167, 233, 175, 1);
	border: 1px solid rgba(153, 206, 168, 1);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	backface-visibility: hidden;
	transition: all .5s ease;
	transform-style: preserve-3d;
}

.back-face{
	transform: rotateY(180deg);
}

.click .back-face {
	transform: rotateY(0deg);
}

.click .front-face {
	transform: rotatey(-180deg);
}



@media (max-width: 450px) {
	h1 {
		font-size: 36px;
	}

	section {
		flex-direction: column;
		align-items: center;
	}
}